*{
  padding: 0;
  box-sizing: border-box;
  font-family:  "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 145rem;
  height: 80rem;
  background-color:#ffeead;
}

.month {
  width: 100%;
  height: 10rem;
  background-color: #ffa07a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 4rem;
  font-weight:  400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.9rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(144.2rem/7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.9rem;
  margin: 0.3rem;
  width: calc(140.2rem/7);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover:not(.today):not(.next-date):not(.prev-date):not(.past-date) {
  background-color: #ffeead;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
opacity: 0.5;
}

.today {
  background-color: #ffa07a;
  border: 0.2rem solid #777;
}

.schedule-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.schedule-container.show {
  pointer-events: auto;
  opacity: 1;
}

.schedule {
    background-color: #7ad9ff;
    width: 25rem;
    max-width: 100%;
    height: 60rem;
}

.slots div{
  font-size: 1.9rem;
  width: 100%;
  height: 6rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border: 0.1rem solid black;
  transition: background-color 0.2s;
}

button {
  background-color: #7a97ff;
  border: 0.13rem solid black;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  position: absolute;
}

#close {
  margin-left: 23.2rem;
  padding: 0.1rem;
  padding-left: 0.3rem;
}

.slots div:hover:not(.reserved){
  background-color:#7affa0;
  border: 0.1rem solid #777;
  cursor: pointer;
}

.reserved {
  background-color: #ff6e6e;
}

.confirm-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.confirm {
  background-color: #7ad9ff;
  border-radius: 5px;
  margin: 2rem;
  width: 38rem;
  max-width: 100%;
  height: 25rem;
  padding: 5rem;
  padding-bottom: 2rem;
}
.confirm p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  padding-bottom: 3rem;
}

#yes {
 justify-content: flex;
 margin: 3rem;
 margin-left: 5rem;
 padding: 0.5rem;
}

#no {
 justify-content: flex;
 margin: 3rem;
 margin-left: 18rem;
 padding: 0.5rem;
}

.confirm-container.show {
  pointer-events: auto;
  opacity: 1;
}
