.sign-up-form {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10% 2rem 10%;
}

.userprof {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10% 2rem 10%;
}

.userinfo {
    line-height: 2;
}